<mat-form-field *ngIf="inEdit" class="field-value-chip">
  <mat-chip-list #valueList>
    <mat-chip
      *ngFor="let v of field.value"
      [removable]="true"
      [selectable]="false"
      (removed)="remove(v)">
      <ng-container *ngIf="autoComplete">
        {{this.autoComplete.stringRepr(v.value)}}
      </ng-container>
      <ng-container *ngIf="!autoComplete">
        <a [href]="v.value.strValue" target="_blank"
           *ngIf="isLink(v.value.strValue)">{{v.value.strValue | truncate}}</a>
        <ng-container *ngIf="!isLink(v.value.strValue)">{{v.value.strValue}}</ng-container>
        <ng-container
          *ngIf="field.params.suffix && v.value.strValue && v.value.value?.strValue !== ''">{{field.params.suffix}}</ng-container>
      </ng-container>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      (keydown.tab)="partialComplete()"
      #valueInput
      [formControl]="inputCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="valueList"
      (matChipInputTokenEnd)="addValueWithEvent($event)">

    <i class="bi bi-upc-scan" (click)="scan()"></i>
  </mat-chip-list>
  <mat-autocomplete #matAutocomplete #auto="matAutocomplete" (optionActivated)="optionActivated($event)"
                    (optionSelected)="selected($event)">
    <mat-option *ngFor="let v of filteredInputs | async" [value]="v">
      {{v}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

<div *ngIf="!inEdit" class="field-value-chip">
  <mat-chip-list>
    <mat-chip
      *ngFor="let v of field.value"
      [removable]="false"
      [selectable]="false"
      (removed)="remove(v)">
      <ng-container *ngIf="autoComplete">
        {{this.autoComplete.stringRepr(v.value)}}
      </ng-container>
      <ng-container *ngIf="!autoComplete">
        <a [href]="v.value.strValue" target="_blank"
           *ngIf="isLink(v.value.strValue)">{{v.value.strValue | truncate}}</a>
        <ng-container *ngIf="!isLink(v.value.strValue)">{{v.value.strValue}}</ng-container>
        <ng-container
          *ngIf="field.params.suffix && v.value.strValue && v.value.value?.strValue !== ''">{{field.params.suffix}}</ng-container>
      </ng-container>
    </mat-chip>
  </mat-chip-list>
</div>
