
<mat-form-field class="array-search" appearance="legacy">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="datasource.filter">
</mat-form-field>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8">

  <ng-container matColumnDef="ref">
    <th mat-header-cell *matHeaderCellDef>Reference</th>
    <td mat-cell *matCellDef="let field">
      {{field.reference}}
    </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Label</th>
    <td mat-cell *matCellDef="let field"> {{field.label}} </td>
  </ng-container>

  <ng-container matColumnDef="fieldType">
    <th mat-header-cell *matHeaderCellDef>Field Type</th>
    <td mat-cell *matCellDef="let field"> {{field.fieldType}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let field">
      <button class="btn" (click)="actionEditField(field)"><i class="bi bi-pencil-fill"></i></button>
      <button class="btn" (click)="actionRemoveField(field)"><i class="bi bi-trash"></i></button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.defaultField]="row.defaultField" (click)="actionSelectField(row)"></tr>
</table>
