<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Scan</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <ul>
    <li *ngFor="let v of scannedValues" (click)="emit(v)">{{v}}</li>
  </ul>
  <zxing-scanner (scanSuccess)="addScan($event)" ></zxing-scanner>
</div>
