li {
  background-color: darkgray;
  padding: 10px;
  margin-top: 5px;
  opacity: 0.7;
  min-width: 50em;
  border:1px solid gray;
  cursor: pointer;
}

ul {
  list-style-type: none;
  position: absolute;
  padding-left: 5px;
}
button.close{
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
}
