<table mat-table [dataSource]="datasource" class="table table-striped">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let f">
      <i class="fa {{f.mime | mimeToFa}}"></i>
      <a *ngIf="!isImage(f)" href="/api/annex/{{f.uuid}}/file">{{f.filename}}</a>
      <a *ngIf="isImage(f)" (click)="show(showImg, f)">{{f.filename}}</a>
    </td>
  </ng-container>


  <ng-container *ngFor="let id of this.fieldsIds" [matColumnDef]="id">
    <th mat-header-cell *matHeaderCellDef>{{getFieldName(id)}}</th>
    <td mat-cell *matCellDef="let f">
      <app-field-savable [itemUuid]="this.itemUuid" [field]="this.getField(f, id)" [subReference]="f.uuid" [showLabel]="false"></app-field-savable>
    </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let f">
      <a (click)="delete(f)"><i class="fa fa-trash"></i></a>
      <a (click)="thumbnail(f)" *ngIf="isImage(f)"><i class="fa fa-address-card"></i></a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<ng-template #showImg>
  <div class="modal-body imgModal">
    <img style="max-width:100%; max-height:100%" src="/api/annex/{{imageToShow.uuid}}/file" />
  </div>
</ng-template>
