<table mat-table [dataSource]="datasource" class="table table-striped">

  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
    <td (click)="goTo(item)" mat-cell *matCellDef="let item"><img width="100px" src="/api/item/{{item.item.uuid}}/thumbnail/file" /> </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td (click)="goTo(item)" mat-cell *matCellDef="let f">
      {{f.item.title}}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td (click)="goTo(item)" mat-cell *matCellDef="let f">
      {{f.item.description}}
    </td>
  </ng-container>



  <ng-container *ngFor="let id of this.fieldsIds" [matColumnDef]="id">
    <th mat-header-cell *matHeaderCellDef>{{getFieldName(id)}}</th>
    <td (click)="goTo(item)" mat-cell *matCellDef="let f">
      <app-field-savable [itemUuid]="this.item.uuid" [field]="this.getField(f, id)" [subReference]="f.uuid" [showLabel]="false"></app-field-savable>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let f">
      <a (click)="delete(f)"><i class="fa fa-trash"></i></a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
