<div *wait="item" class="d-print-none">


  <div class="section">
    <div class="bd-callout bd-callout-meta">
      <strong>Meta data</strong>
      <i *ngIf="mobileService.isMobile" class="fa fa-camera" (click)="takePhoto()"></i>
      <div class="row">
        <div class="col-12 col-md-auto">
          <div (click)="editThumbnail()">
            <img [src]="imgSrc | async">
          </div>

        </div>
        <div class="col-12 col-md">
          <div *ngFor="let field of item.content">
            <app-field-savable *ngIf="!field.isUserField" (onDelete)="deleteField(field)" [itemUuid]="item.uuid"
                               [field]="field"></app-field-savable>
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="showSticker(sticker)">
              <i class="bi bi-upc-scan"></i> Sticker
            </button>
            <button type="button" class="btn btn-primary" *ngIf="item.uuid && this.context.printers?.length > 0"
                    (click)="print()">
              <i class="bi bi-printer"></i>
            </button>
          </div>

          <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="copy()">
            <i class="bi bi-clipboard-plus"></i> Copy
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="item.uuid" class="cardContent">
    <div class="section">
      <h2>Data <i class="fa fa-plus-circle" (click)="startAddField()"></i></h2>
      <div *ngFor="let field of item.content">
        <app-field-savable *ngIf="field.isUserField" (onDelete)="deleteField(field)" [itemUuid]="item.uuid"
                           [field]="field"></app-field-savable>
      </div>
    </div>

    <div class="section">
      <h2>Annexes</h2>

      <div>
        <ng-container *ngIf="!this.progress">
          <input (paste)="onPaste($event)"
                 (keyup.enter)="addAnnexFromUrl()"
                 (keyup.shift.enter)="addAnnexFromUrl()"
                 type="text" class="form-control"
                 #annexByUrl>
        </ng-container>
        <ng-container *ngIf="this.progress">
          <mat-progress-bar
            [value]="this.progress">
          </mat-progress-bar>
        </ng-container>
        <input (change)="onFileChange($event)" id="singleFile" type="file"/>
        <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="selectFromGallery(gallery)">
          <i class="bi bi-images"></i> Gallery
        </button>
      </div>

      <app-annex-table #annexTable (setThumbnail)="refreshThumbnail()" (deleteAnnex)="annexDeleted($event)"
                       [itemUuid]="item.uuid"
                       [annexes]="item.annexes"></app-annex-table>
    </div>


    <div class="section">
      <h2>Holder
        <i *ngIf="!mobileService.isMobile" class="fa fa-plus-circle" (click)="addHolder()"></i>
      </h2>
      <app-link-table #holderTable (deleteLink)="linkDeleted($event)" [item]="item" [holder]="true"></app-link-table>

    </div>
    <div class="section">
      <h2>Holding
        <i *ngIf="!mobileService.isMobile" class="fa fa-plus-circle" (click)="addHolding()"></i>
      </h2>
      <app-link-table #holdingTable (deleteLink)="linkDeleted($event)" [item]="item" [holding]="true"></app-link-table>

    </div>
    <div class="section">
      <h2>Links
        <i *ngIf="!mobileService.isMobile" class="fa fa-plus-circle" (click)="addLink()"></i>
      </h2>
      <app-link-table #linkTable (deleteLink)="linkDeleted($event)" [item]="item"></app-link-table>

    </div>

  </div>

</div>

<ng-template #sticker>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sticker</h4>
  </div>
  <div class="modal-body">
    <div>
      <img [src]="imgLocation"/>
    </div>
    <button type="button" class="btn btn-primary" *ngIf="item.uuid" (click)="print()">
      <i class="bi bi-printer"></i> Print
    </button>
  </div>
</ng-template>


<ng-template #gallery>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Gallery</h4>
  </div>
  <div class="modal-body">
    <app-image-gallery (selection)="addImageFromGallery($event)"></app-image-gallery>
  </div>
</ng-template>
