<form>
  <div class="form-group">
    <label for="labelInput">Label</label>
    <input type="text" class="form-control" id="labelInput" name="labelInput" [(ngModel)]="field.label"/>
  </div>

  <div class="form-group">
    <label for="reference">Reference</label>
    <input type="text" class="form-control" id="reference" name="reference" [(ngModel)]="field.reference"/>
  </div>


  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="field.defaultField" [ngModelOptions]="{standalone: true}" id="defaultField">
    <label class="form-check-label" for="defaultField">
      Default field
    </label>
  </div>


  <div class="form-group">
    <label for="dataType">Data type</label>
    <select class="form-control" id="dataType" name="dataType" (change)="updateField()" [(ngModel)]="field.datatype">
      <option *ngIf="!field.datatype" selected></option>
      <option *ngFor="let t of dataTypes | async">{{t.datatype}}</option>
    </select>
  </div>

  <div class="config">
    <ng-container *ngFor="let c of field.config">
      <app-field [inEdit]="true" [field]="c"></app-field>
    </ng-container>
  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
</form>

