<quill-editor *ngIf="inEdit" type="text" class="form-control" [id]="field.reference" [(ngModel)]="fieldValue.value.strValue"></quill-editor>
<div value="content" *ngIf="!inEdit" [innerHtml]="fieldValue.value.strValue"></div>
