<h1>Image gallery</h1>


<ng-container *ngIf="this.progress">
  <mat-progress-bar
    [value]="this.progress">
  </mat-progress-bar>
</ng-container>
<input (change)="onFileChange($event)" id="singleFile" type="file"/>

<app-image-gallery #gallery></app-image-gallery>
