<h1>Printers</h1>

<table mat-table [dataSource]="datasource" class="table table-striped">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let f">
      {{f.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="identifier">
    <th mat-header-cell *matHeaderCellDef>Identifier</th>
    <td mat-cell *matCellDef="let f">
      <input type="text" (keyup.enter)="save(f)" [(ngModel)]="f.editIdentifier" *ngIf="f.edit" />
      <a *ngIf="f.edit" (click)="save(f)"><i class="fa fa-save"></i></a>
      <span *ngIf="!f.edit">{{f.identifier}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let f">
      <a (click)="viewQueue(f)"><i class="fa fa-list-ul"></i></a>
      <a *ngIf="!f.edit" (click)="edit(f)"><i class="fa fa-edit"></i></a>
      <a (click)="remove(f)"><i class="fa fa-trash"></i></a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button type="button" class="btn btn-primary" (click)="add()">
  New
</button>
