<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Print-queue</h4>
</div>
<div class="modal-body">
  <table mat-table [dataSource]="datasource" class="table table-striped">

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let f">
        {{f.itemId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let f">
        <a (click)="remove(f)"><i class="fa fa-trash"></i></a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
