<div *ngIf="inEdit" class="form-group">
  <input type="text" class="form-control" [(ngModel)]="fieldValue.value.strValue"  />
</div>
<span *ngIf="!inEdit">
  {{fieldValue.value?.strValue}}<ng-container
    *ngIf="field.params.suffix && fieldValue.value?.strValue && fieldValue.value?.strValue !== ''">{{field.params.suffix}}
  </ng-container>
</span>
