<mat-form-field class="array-search" appearance="legacy">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="datasource.filter">
</mat-form-field>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8 itemSearch">

  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
    <td mat-cell *matCellDef="let item">
      <app-item-link [link]="navigateToItem" [item]="item">
        <img width="100px" src="/api/item/{{this.item.uuid}}/thumbnail/file"/>
      </app-item-link>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let item">
      <app-item-link [link]="navigateToItem" [item]="item">
        {{item.title}}
      </app-item-link>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let item">
      <app-item-link [link]="navigateToItem" [item]="item">
        {{item.description}}
      </app-item-link>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let item">
      <app-item-link [link]="navigateToItem" [item]="item">
        <mat-chip-list>
          <mat-chip *ngFor="let t of item.tags">{{t}}</mat-chip>
        </mat-chip-list>
      </app-item-link>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></tr>
</table>
