<h1>Access tokens</h1>

<table mat-table [dataSource]="datasource" class="table table-striped">

  <ng-container matColumnDef="accessPoint">
    <th mat-header-cell *matHeaderCellDef>Access Point</th>
    <td mat-cell *matCellDef="let f">
      <input type="text" [(ngModel)]="f.accessPoint" *ngIf="!f.id" />
      <p *ngIf="f.id">{{f.accessPoint}}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let f">
      <input type="text" [(ngModel)]="f.value" *ngIf="!f.id" />
      <p *ngIf="f.id">{{f.value}}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let f">
      <a *ngIf="f.id" (click)="remove(f)"><i class="fa fa-trash"></i></a>
      <a *ngIf="!f.id" (click)="saveToken(f)"><i class="fa fa-save"></i></a>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<button (click)="newToken()" type="button" class="btn btn-primary">+</button>
