<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Move</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <ng-template #itemToMoveTpl>
    <div class="section">
      <h2>Move item</h2>
      <app-desc-card *ngIf="itemToMove" [item]="itemToMove"></app-desc-card>
      <app-item-search *ngIf="!itemToMove" (selection)="selectItemToMove($event)"></app-item-search>
    </div>
  </ng-template>

  <ng-template #itemDestinationTpl>
    <div class="section">
      <h2>Destination</h2>
      <app-desc-card *ngIf="itemDestination" [item]="itemDestination"></app-desc-card>
      <app-item-search *ngIf="!itemDestination" (selection)="selectDest($event)"></app-item-search>
    </div>
  </ng-template>

  <div *ngIf="moveMultipleItems">
    <ng-container [ngTemplateOutlet]="itemDestinationTpl"></ng-container>
    <ng-container [ngTemplateOutlet]="itemToMoveTpl"></ng-container>
  </div>

  <div *ngIf="!moveMultipleItems">
    <ng-container [ngTemplateOutlet]="itemToMoveTpl"></ng-container>
    <ng-container [ngTemplateOutlet]="itemDestinationTpl"></ng-container>
  </div>

  <div class="section" *ngIf="itemToMove && itemToMove">
    <h2>From</h2>
    <ng-container (waiting)="origins">
      <ng-container *ngFor="let l of origins">
        <app-desc-card (click)="move(l)" [item]="l.item" [linkToItem]="false"></app-desc-card>
      </ng-container>
      <button (click)="newPosition()" type="button" class="btn btn-primary">+</button>
    </ng-container>
  </div>


</div>
