.mobileButtons {
  position: fixed;
  right:10px;
  bottom: 10px;
}

.mobileButton {
  width:40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  margin:10px;
  display: block;
}
