<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Chaman</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="navCollapsed = !navCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="navCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/admin/fields']">Fields</a></li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/item']">Items</a>
          <a class="nav-link "><i class="fa fa-plus-circle" (click)="newItem()"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/scan']"><i class="bi bi-upc-scan"></i></a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle>
            Scan History
          </a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem *ngFor="let item of liveScanService.historyFull">
              <app-desc-card [item]="item.item"></app-desc-card>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle>
            Admin
          </a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem [routerLink]="['/user', 'tokens']">Access tokens</a>
            <a ngbDropdownItem [routerLink]="['/user', 'clientTokens']">Client tokens</a>
            <a ngbDropdownItem [routerLink]="['/printers']">Printers</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" >{{context.user?.name}}</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="mobileButtons">
  <button class="mobileButton" *ngIf="mobileService.isMobile" [routerLink]="['/scan']"><i class="bi bi-upc-scan"></i>
  </button>
  <button class="mobileButton" *ngIf="currentItem" (click)="moveCurrent()"><i class="bi bi-arrow-right"></i></button>
</div>

<div class="content container-fluid">
  <div class="row">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>

    <app-toasts></app-toasts>
  </div>
</div>
