<table mat-table [dataSource]="images" class="table table-striped">


  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let f">
      <img (click)="select(f)" class="thumbnail" src="/api/gallery/{{f.uuid}}/file" />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let f">
      <i class="fa {{f.mime | mimeToFa}}"></i>
      {{f.filename}}
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of images">
</mat-paginator>
