/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */


.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

.label {
  font-weight: bold;
  clear: left;
  min-width: 15%;
  margin-right: 5px;
  width: unset;
  float: unset;
  display: inline-block;
  color: unset;
}


div.groupTitle {
  font-weight: bold;
}

div.comparison .group.Comparison {
  border: 0;
}

div.groupTitleComparison, div.groupTitleComparisonLeft, div.groupTitleComparisonRight {
  visibility: hidden;
}

div.comparison div.ComparisonLeft {
  float: left;
  width: 50%;
}

div.comparison div.ComparisonRight {
  float: right;
  width: 50%;
}

div.comparison div.compClear {
  clear: both;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: left;

  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: rgba(108, 117, 125, .85);
}

h2 {
  margin-top: 60px;
}


.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem;
}

.bd-callout + .bd-callout {
  margin-top: -.25rem
}

.bd-callout-meta {

  border-left-color: #272c30;
  background-color: #f8f9fa;
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-brand-logos {
  color: #7952b3
}

.bd-brand-logos .inverse {
  color: #fff;
  background-color: #7952b3
}

.bd-brand-item + .bd-brand-item {
  border-top: 1px solid #fff
}

.rotate {
  animation: spin 2s infinite;
}

.spinner {
  width: 100%;
  text-align: center;
  border: 10px;
}

.stickerText {
  padding-top: 40px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  font-weight: bold;
}

.error {
  color: red;
}


.field-value-chip {
  width: 100%;
}

.field {
  display: flex;
}

.field .label {
  vertical-align: center;
}

.field-content {
  width: 100%;
}

.action-buttons {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 5px;
  margin-top: 15px;
}

app-toasts.ngb-toasts {
  top: 50px;
}

app-item-card tr.mat-header-row {
  height: unset;
}

app-field label {
  margin-right: 10px;
}

.array-search {
  width: 100%;
}

a.nav-link {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  display: inline-block;
}

li.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #474747;
}

.content th.mat-header-cell, .content td.mat-cell, .content td.mat-footer-cell {
  padding: 10px;
}

.content a:not([href]):not([class])  {
  color: #0a58ca;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

table.itemSearch tr td app-item-link a {
  display: block;
  width: 100%;
  height: 100%;
}
table.itemSearch tr td app-item-link{
  display: block;
  width: 100%;
  height: 100%;
}
