<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Select and item</h4>
</div>
<div class="modal-body">
  <app-item-search (selection)="select($event)"></app-item-search>
</div>
