<div class="form-group">
  <label [for]="field.reference" *ngIf="showLabel">{{field.label}}</label>
  <ng-content></ng-content>
  <div class="field-content ">
    <app-field-value #fieldElement [inEdit]="inEdit" [field]="field"></app-field-value>
    <div class="error" *ngFor="let m of field.errorMessages">{{m}}</div>
  </div>
</div>
