<div  *ngIf="linkToItem" [routerLink]="['/item/', this.item.uuid]" >
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</div>

<div [ngTemplateOutlet]="content" *ngIf="!linkToItem" >

</div>

<ng-template #content>
  <div >
    <div class="icon">
      <img *ngIf="this.item.uuid" width="100px" src="/api/item/{{this.item.uuid}}/thumbnail/file"/>
    </div>
    <div class="text">
      <div class="idShort">{{this.item.uuid | slice:0:8}}</div>
      <div class="name">{{this.item.title}}</div>
    </div>
  </div>
</ng-template>
