<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add a field</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <field-table [fields]="fields | async"  (selectField)="selectField.emit($event)" ></field-table>
</div>
