<app-field #fieldElement (keyup.shift.enter)="save()" (click)="startEdit()" [field]="field" [showLabel]="this.showLabel" [inEdit]="inEdit">
  <mat-icon *ngIf="inEdit" (click)="save()">save</mat-icon>
  <mat-icon *ngIf="field.isUserField && inEdit" (click)="delete()">delete</mat-icon>
</app-field>
