 <div *ngIf="link">
   <a [routerLink]="['/item/', item.uuid]">
    <ng-container *ngTemplateOutlet="tempOutlet" ></ng-container>
   </a>
 </div>
 <div *ngIf="!link">
    <ng-container *ngTemplateOutlet="tempOutlet" ></ng-container>
 </div>
 <ng-template #tempOutlet>
     <ng-content></ng-content>
 </ng-template>
